# General
node_modules
migrations
build
dist

# Output
.react-router
.svelte-kit
.wrangler
.netlify
.output
.vercel

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Tests
coverage
.nyc_output

# Temporary
.temp
.tmp
.cache

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Documentation
AGENTS.md
README.md
LICENSE
docs

# Docker
.dockerignore
Dockerfile
docker-compose.*.yml
docker-compose.yml
compose.yml

# IDE
.cursor
.vscode
.idea
*.swp
*.swo
.editorconfig

# Config files
.prettierrc
.prettierignore
.eslintrc*
.eslintignore
tsconfig.json
drizzle.config.ts
biome.json
turbo.json

# Binary
server
