name: dev
services:
    postgres:
        container_name: postgres
        image: postgres:18.1
        restart: always
        environment:
            TZ: UTC
            POSTGRES_DB: db
            POSTGRES_USER: user
            POSTGRES_PASSWORD: password
        ports:
            - '5432:5432'
        volumes:
            - postgres_data:/var/lib/postgresql
volumes:
    postgres_data:
        name: postgres_data
