services:
    db:
        image: postgres:18.1
        container_name: db
        hostname: ${DB_HOST}
        restart: always
        environment:
            TZ: UTC
            POSTGRES_DB: ${DB_NAME}
            POSTGRES_USER: ${DB_USERNAME}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
        ports:
            - '${DB_PORT}:5432'
        volumes:
            - postgres_data:/var/lib/postgresql
            - ./db/init:/docker-entrypoint-initdb.d
volumes:
    postgres_data:
