# General
/node_modules
/build
/dist

# Output
.react-router
.svelte-kit
.wrangler
.netlify
.output
.vercel

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment
.env
!.env.example

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# Temporary files
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
